env.sh
*.so
*.o
*.log
*.png
test_adjtimex
test_clock_gettime
test_gettimeofday
test_ntp_adjtime
test_ntp_gettime
test_offset
test_time
test_timespec_get
test_verlauf
test_zeitvergleich
ntp.drift
ntpstats/
ntp_stats_sim/
ntp_stats_sim3/
/sim.conf
ntp.conf
sim3.conf
plot_offset.py
alt/
*.svg
